{% extends 'base.html' %}
{% load socialaccount %}

{% block content-body1 %}

{% for answer in answers %}


<div class ='rounded mt-30' style=" border: solid red 2px;border-radius: 21px;">
    <blockquote class="blockquote text-left">
        <pre class="mb-0">
            {{answer.answer}}</pre>
       
    </blockquote>
    <blockquote class="blockquote text-right">
 
        <footer class="blockquote-footer">{{answer.answerby}} <cite title="Source Title">{{answer.answerdate}}</cite></footer>
    </blockquote>
 </div>   


{% endfor %}
{% if answerform %}
<form method="POST" target="/blog/answer/">
    {% csrf_token %}
    {{answerform}}
    <input type="submit" value="Submit">

        </form>
        {% endif %}


    
{% endblock %}